body, html{
  height:100%;

}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url("bk-jellyfish-jam-big.jpg");
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.tinted-image {
 max-width: 100%;
 height: auto;
 width: auto;
 background: url("#");
}

.red:after {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  background: rgba(255, 0, 0, 0.5);
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.dancer.jellyfish {
 /*background-image: url("https://media.giphy.com/media/rdXF0gnAyUAfK/giphy.gif");*/
 background-repeat: no-repeat;
 background-size: 100%;
 position:absolute;
 border: none;
 top: 50px;
 left: 50px;
 height: 5px;
 width: 5px;
}
